<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A Simple Blog - Page Not found</title>

    
    <link href="/UI/js/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/UI/css/main.css" rel="stylesheet">
  </head>
  <body>
	  
    <nav class="navbar navbar-default">
		  
		  <div class="container-fluid">
			  <div class="navbar-header">
				  <a class="navbar-brand" href="/"><img alt="Brand" src="/favicon.ico" height="30" width="30"></a>
			  </div>
		  </div>
		  
	</nav>
	  
	  <div class="jumbotron main-view">
		  
		  <div class="container">
			  <h1>404 - Page not found</h1>
			  <p>Page you trying to access not found on the server</p>
			  <p><a class="btn btn-primary btn-lg" href="/" role="button">Go Home</a></p>
		  </div>
		
	  </div>
	  
  </body>
  
</html>