<ol class="breadcrumb">
  <li><a href="#!/">Home</a></li>
  <li><a href="#!/blog/my">My Blogs</a></li>
  <li class="active">{{blog.id ? 'Edit - ' + blog.title : 'Create'}}</li>
</ol>

<form>

	<div class="alert alert-{{alert.status}}" role="alert" ng-if="alert.status">{{alert.message}}</div>

	<div class="form-group">
		<label for="blogTitle">Title</label>
		<input class="form-control" id="blogTitle" placeholder="Title" ng-model="blog.title">
	 </div>

	<div class="form-group">
		<label for="blogContent">Content</label>
		<textarea class="form-control" id="blogContent" rows="20" ng-model="blog.content" maxlength="{{maxContentLength}}"></textarea>
	 </div>

	<small class="pull-left">{{blog.content.length | number}} / {{maxContentLength | number}} characters</small>

	<button class="btn btn-primary pull-right" ng-click="publishBlog()" ng-disabled="!blog.content || !blog.title">Publish</button>

	<div class="clearfix"></div>

</form>
