<ol class="breadcrumb">
  <li><a href="#!/">Home</a></li>
  <li class="active">Login</li>
</ol>

<form class="login-form">
	
	<div class="alert alert-{{alert.status}}" role="alert" ng-if="alert.status">{{alert.message}}</div>
	
	<div class="form-group">
		<label for="loginUserName">User Name</label>
		<input class="form-control" id="loginUserName" placeholder="UserName" ng-model="user.username">
	 </div>	

	<div class="form-group">
		<label for="loginPassword">Password</label>
		<input type="password" class="form-control" id="loginPassword" placeholder="Password" ng-model="user.password">
	 </div>	

	<button type="submit" class="btn btn-primary" ng-click="loginUser()" ng-disabled="!user.username || !user.password">Login</button>

</form>